<%= line_chart charts_total_visits_path %>

<%= pie_chart charts_acerage_by_park_path, legend: false, donut: true %>

<%= pie_chart charts_visitors_by_park_path, legend: false, donut: true %>

<% @parks.each do |park| %>
  <a href="<%= park_path(park) %>"><%= park.name %></a>
  <p><%= park.state %></p>
  <hr>
<% end %>
