<div class="hp__wrapper">

  <div class="card">
    <div class="quote">
      <h2>"We are prone to speak of the resources of this country as inexhaustible; this is not so."</h2>
      <h4>- Theodore Roosevelt</h4>
    </div>
  </div>

  <hr/>

  <div class="card">
    <div class="chart">
      <div class="chart__geo">
        <%= geo_chart charts_parks_per_state_path, width: "#{Chart.width(device_type)}", height: "300px", colors: "#355e3b", library: {region: 'US', resolution: 'provinces'}, key: ENV['GOOGLE_API_KEY'] %>
      </div>
    </div>

    <div class="intro">
      <div class="intro__text">
        <p>
          There are 59 National Parks in the United States. Each of them offers unparalleled, pristine beauty preserved for the benefit of all. From the Yosemite Valley in California to Cadillac Mountain in Maine, each park has a story to tell.
        </p>
      </div>
    </div>
  </div>

  <hr/>

  <div class="card">
    <div class="chart">
      <div class="chart__line">
        <%= line_chart charts_total_visits_path, width: "#{Chart.width(device_type)}", height: "300px", xtitle: "Year", ytitle: "Total Visitors", library: { baseline: 2000 } %>
      </div>
    </div>

    <div class="intro">
      <div class="intro__text">
        <p>
          In 2016, the National Parks Service centennial, over 82 million people visited the National Parks.  Thats one out of every four people in the United States.
        </p>
      </div>
    </div>
  </div>

  <hr/>

  <div class="card">
    <div class="chart__group">
      <div class="chart__callout">
        <h2><%= number_with_delimiter(@acres, delimiter: ',') %><span> ACRES</span></h2>
        <h2><span>IN</span> 59 <span>PARKS</span></h2>
      </div>
      <div class="chart__pie">
        <%= pie_chart charts_acerage_by_park_path, legend: false, colors: ["#000050", "#191961", "#323272", "#4c4c84", "#666696", "#7f7fa7", "#9999b9", "#b2b2ca", "#ccccdc", "#e5e5ed"], donut: true, width: "400px", height: "400px;" %>
      </div>
    </div>
  </div>

  <hr/>

  <div class="card">
    <div class="chart__group">
      <div class="chart__pie">
        <%= pie_chart charts_visitors_by_park_path, legend: false, colors: ["#355e3b", "#496e4e", "#5d7e62", "#718e75", "#859e89", "#9aae9d", "#aebeb0", "#c2cec4", "#d6ded7", "#eaeeeb"], donut: true, width: "400px", height: "400px;" %>
      </div>
      <div class="chart__callout">
        <h2><%= number_with_delimiter(@visitors, delimiter: ',') %><span> VISITORS</span></h2>
        <h2><span>IN</span> 2016</h2>
      </div>
    </div>
  </div>
</div>
