<!DOCTYPE html>
<html>
<head>
  <title>Congaree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="app__wrapper">

    <main class="app__main">
      <%= yield %>
    </main>

    <div class="app__footer">
    </div>

  </div>
</body>

</html>
